:root {
    --playstation-dark: #1F1F1F;
    --playstation-dark-grey: #363636;
    --playstation-grey: #BEBCBB;
    --playstation-light-grey: #D9DADC;
    --playstation-light: #F5F5F5;
    --playstation-orange: #CD3D0F;
    --playstation-light-blue: #2D64E6;
    --playstation-blue: #00439C;
    --playstation-dark-blue: #161C3B;
}

.bg_dark {
    background-color: var(--playstation-dark);
}

.bg_dark_grey {
    background-color: var(--playstation-dark-grey);
}

.bg_orange {
    background-color: var(--playstation-orange);
}

.bg_blue {
    background-color: var(--playstation-blue);
}

body {
    font-family: Arial,
        sans-serif;
    overflow-x: hidden;
}

.btn {
    border-radius: 50px;
}

.text_grey {
    color: grey;
    font-size: 1.1rem;
    font-weight: bold;
}

/************************
Header
************************/
/* logo_sony */
.logo_sony {
    background-color: #000000;
}

.logo_sony img {
    height: 15px;
}

/* navbar */
nav {
    background-color: #FFFFFF;
}


nav .bg_dark_grey {
    color: #FFFFFF;
    border-radius: 50px;
}

.search_icon {
    width: 25px;
}

.chevron_down {
    width: 10px;
}

nav .chevron_hover {
    display: none;
    width: 10px;
}

a#navbarDropdown {
    color: black;
}

a#navbarDropdown:hover {
    color: var(--playstation-light-blue);
}

a#navbarDropdown:focus {
    color: var(--playstation-light-blue);
}

nav ul>li:hover .chevron_down {
    display: none;
}

nav ul>li:hover .chevron_hover {
    display: inline-block;
}

nav .btn:hover {
    color: #FFFFFF;
    filter: opacity(0.9);
}

/* dropdown-menu */
.dropdown {
    position: static;
}

.dropdown-menu {
    width: 100%;
    border: none;
    border-radius: 0;
}

.dropdown-menu[data-bs-popper] {
    margin-top: 0;
}

.dropdown_top_menu li {
    margin: 2rem;
}

.dropdown_top_menu li:hover {
    box-shadow: 1px 1px 5px var(--playstation-grey);
    border-radius: 5px;
}

.dropdown_bottom_menu {
    width: 7px;
    height: 7px;
    background-color: var(--playstation-light-blue);
    border-radius: 50%;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: var(--playstation-light-blue);
    background-color: #FFFFFF;
}

/************************
Main
************************/
/* hero_image */
.hero_image {
    background-image: url("./img/jumbo-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.hero_text {
    bottom: 0;
    color: #FFFFFF;
}

.hero_image img {
    width: 250px;
    margin-top: 200px;
}

.hero_text .btn {
    color: #FFFFFF;
}

/* game_cards */
.game_cards img {
    width: 100%;
    border-radius: 20px;
    padding: 0.15rem;
    margin-bottom: 12px;
}

.game_cards .active_game_cards img {
    border: 2px solid var(--playstation-light-blue);
}

/* console */
.console .text_blue {
    color: var(--playstation-light-blue);
    font-size: 0.8rem;
}

.console .btn {
    color: #FFFFFF;
}

.console .accessories img {
    width: 75%;
    cursor: pointer;
}

.console .active_console .accessory {
    filter: opacity(1);
    border-bottom: 2px solid var(--playstation-light-blue);
}

.console .accessory {
    filter: opacity(0.5);
    min-height: 225px;
}

.console .accessory:hover {
    filter: opacity(1);
}

/* banner */
.banner {
    background-image: url("./img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner .hero_text img {
    width: 30%;
}

/* new_games */
.new_games {
    color: #FFFFFF;
}

.new_games img {
    border-radius: 20px;
}

.new_games p {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/* playstation_plus */
.playstation_plus {
    background-color: var(--playstation-grey);
}

.playstation_plus .btn {
    color: var(--playstation-light-blue);
    background-color: var(--playstation-light-grey);
}

.section_text img {
    width: 350px;
}

.section_image img {
    width: 750px;
}

/* discounts */
.discounts img {
    width: 100%;
    margin-bottom: 2rem;
}

/* playstation_now */
.playstation_now {
    background-color: var(--playstation-dark-blue);
    color: #FFFFFF;
}

.playstation_now .btn {
    background-color: var(--playstation-light);
}

/* social */
.social img {
    width: 150px;
    margin-bottom: 2rem;
}

/************************
Footer
************************/
footer {
    color: #FFFFFF;
    font-size: 0.9rem;
}

/* top_footer */
.ps_logo_footer {
    width: 100px;
}

.country img {
    width: 20px;
}

.top_footer a {
    color: #FFFFFF;
    text-decoration: none;
}

footer a:hover {
    color: #FFFFFF;
}

/* bottom_footer */
.bottom_footer img {
    width: 150px;
    margin: 1rem 0;
}

.bottom_footer a {
    color: #FFFFFF;
}